.container{
    text-align: center;
    margin-top: 50%;
}

.input{
    font-size: 300;
}

ion-item{
    --background: linear-gradient(120.67deg, #7589a8 17.45%, rgb(60, 102, 216) 105.58%);
    margin-bottom: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: gray;
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }
}