* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  img{
    height: 10.5rem;
    align-items: center;
  }
}

h3 {
  color: #939fab;
  font-weight: 600;
}

form {
  font-size: 1.2rem;
  margin-top: 2.5rem;

  .forgot-password-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    color: #b85555;
    margin-top: 1rem;
  }

  ion-button {
    font-size: 1.1rem;
    display: block;
    margin-top: 1rem;
  }
}

.footer-text {
  text-align: center;
  font-size: 19px;
  margin-top: 10%;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #0010eb;
  }
}

.input{
  font-size: 300;
}

ion-item{
  --background: linear-gradient(120.67deg, #7589a8 17.45%, rgb(60, 102, 216) 105.58%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 15px;
}

ion-text{
  color: red;
  font-size: 0.97rem;
}
