<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <p mode="md" class="ion-no-padding"> Name</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="detail">
   <div class="title">
      <img src="assets/lynn.jpg" alt=""/>
   </div>
   <p>Nom <ion-label>seggse</ion-label></p>
   <p>Prenom <ion-label>seggse</ion-label></p>
   <p>Filiere <ion-label>seggse</ion-label></p>
  </div>
  <div class="last">
   <ion-button color="success"><img src="assets/icon/plus.png" alt=""/></ion-button>
   <ion-button color="danger"><img src="assets/icon/delete.png" alt=""/></ion-button>
  </div>
</ion-content>
