<ion-header class="ion-no-border">
  <ion-toolbar>
    <p mode="md" class="ion-no-padding"> Journey</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="journey" (click)="detail()">
    <div class="inf">
      <ion-thumbnail slot="start">
        <img src="assets/icon/bus.svg" alt="" />
        <span></span>
      </ion-thumbnail>
      <ion-label>
        <h1>42 places <span><img src="assets/icon/person.svg" alt="" /></span> </h1>
        <h2><span><img src="assets/icon/clock.svg" alt="" /></span> departure at 7:30 a.m</h2>
      </ion-label>
    </div>
    <div class="to">
      <ion-label>
        <h1>FROM <span>etokoss</span></h1>
      </ion-label>
      <ion-label>
        <h1>TO <span>eyang</span></h1>
      </ion-label>
    </div>
  </div>
  <div class="journey" (click)="detail()">
    <div class="inf">
      <ion-thumbnail slot="start">
        <img src="assets/icon/bus.svg" alt="" />
        <span></span>
      </ion-thumbnail>
      <ion-label>
        <h1>42 places <span><img src="assets/icon/person.svg" alt="" /></span> </h1>
        <h2><span><img src="assets/icon/clock.svg" alt="" /></span> departure at 8:30 a.m</h2>
      </ion-label>
    </div>
    <div class="to">
      <ion-label>
        <h1>FROM <span>mec</span></h1>
      </ion-label>
      <ion-label>
        <h1>TO <span>eyang</span></h1>
      </ion-label>
    </div>
  </div>
</ion-content>
