ion-content{
    --background: var( --macouleur);
    .code{
        position: relative;
        padding: 1.5rem;
        transform: translateY(4rem);
        -webkit-transform: translateY(4rem);
        -moz-transform: translateY(4rem);
        -ms-transform: translateY(4rem);
        -o-transform: translateY(4rem);
        img{
            width: 300px;
            height: 300px;
            flex-shrink: 0;
            fill: #000;
            background: white;
        }
}

}


ion-toolbar{
   //width: 408px;
   height: 7rem;
   --background: var(--macouleur3);
   flex-shrink: 0;
   border-radius: 0 0 1.5rem 1.5rem;
   -webkit-border-radius: 0 0 1.5rem 1.5rem;
   -moz-border-radius: 0 0 1.5rem 1.5rem;
   -ms-border-radius: 0 0 1.5rem 1.5rem;
   -o-border-radius: 0 0 1.5rem 1.5rem;

   p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
}
}