<ion-header class="ion-no-border">
  <ion-toolbar  mode="md" class="ion-no-padding">
    <h1>From <span>etokoss</span></h1>
    <h1>To <span>eyang</span></h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="in">
    <div class="last">
      <p>Estimated time</p>
      <p class="p">01h</p>
    </div>
    <div class="rest">
      <p>duration</p>
      <p class="p">01h30min</p>
    </div>
  </div>
  <div class="int">
    <ion-label>
      <h1>42 places <span><img src="assets/icon/person.svg" alt="" /></span> </h1>
      <h2><span><img src="assets/icon/clock.svg" alt="" /></span> departure at 7:30 a.m</h2>
    </ion-label>
   <ion-button ><p>Start<span><img src="assets/icon/bus.svg" alt="" /></span></p></ion-button>
  </div>
</ion-content>
